html {
  max-width: 100%;
  overflow-x: hidden;
}

/* Reset default margin and padding */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* Set a gradient background */
body {
  flex-direction: column;
  min-height: 100vh;

  background: linear-gradient(-45deg, #23026a, #900eb8, #4b00e7, #720192);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;

  max-width: 100%;
  overflow-x: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar-toggler {
  margin-right: 8px;
}

.nav-item {
  margin-left: 10px;
}

/* Style the header */
.header {
  align-items: center;
  text-align: center;
  position: fixed;
}

.header-content {
  text-align: center;
  align-items: center;
}

.logo {
  display: inline-block;
  position: relative;
}

.logo:hover {
  box-shadow: 0 0 20px rgba(83, 25, 220, 0.7);
  border-radius: 100%;
  animation: roll 2s ease-in-out forwards;
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.logo img {
  border-radius: 100%;
  width: 100px;
  box-shadow: 0 0 20px rgba(0, 0, 0);
  height: auto;
}

/* Style the main content */
main {
  padding-top: 50px;
  padding-bottom: 75px;
}

.container {
  padding: 20px;
}

h2 {
  font-size: 24px;
  color: #e2dcdc;
  margin-bottom: 10px;
  text-align: center;
}

p {
  font-size: 16px;
  color: #f5f1f1;
  margin-bottom: 20px;
}

/*Breakpoint*/
@media (max-width: 768px) {
  main {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
    margin-bottom: 15px;
  }
}

footer {
  margin-bottom: 35px;
}

.foot-link:hover {
  color: rgb(255, 255, 255);
  text-decoration: overline;
}

.right-text,
.left-text {
  background-color: rgba(0, 0, 0, 0.3);
  color: antiquewhite;
  border-radius: 5px;
  padding: 10px 25px 15px 25px;
  font-family: "Saira", sans-serif;
}

.right-image,
.left-image {
  margin: 20px auto 20px auto;
  padding: 0 0 0 0;

  justify-content: center;
  display: flex;
  align-items: center;
}

.increase {
  transition: 0.3s;
}
.increase:hover {
  box-shadow: 0 0 20px #05010e;
}

.form-control {
  background-color: rgba(185, 181, 181, 0.7);
  border: none;
}

.search-btn {
  color: antiquewhite;
  background-color: transparent;
  border: none;
}

.search-btn:hover {
  font-weight: bolder;
  background-color: #000000;
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: white;
}
::-webkit-scrollbar-thumb:hover {
  background: #dfdfdf;
}
::-webkit-scrollbar-thumb:active {
  background: #c8c8c8;
}

@media (min-width: 1200px) {
  .left-image {
    margin: 0;
    padding: 0 0 0 25px;
    align-items: flex-start;
  }

  .right-image {
    margin: 0;
    padding: 0 25px 0 0;
    align-items: flex-start;
  }

  .left-text {
    padding: 10px 25px 15px 25px;
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
}
.fade-in-animation {
  opacity: 1;
  transform: translateY(0);
}
